<h1>Listado de productos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th> 
    <th>Price</th>
  </tr>
  
 <% @products.each do |producto| %>
  <tr>
    <td><%= producto.name %></td>
    <td><%= producto.description %></td> 
    <td><%= producto.price %></td>
    <td>
    	<%= link_to "Editar", edit_product_path(producto) %>
    	<%= link_to "Eliminar", producto, method: :delete, data: { confirm: "¿Seguro que quieres borrar?"} %>
    </td>
  </tr>
 <% end %>

</table>